.drupal-label {
  background-color: #FFFFFF;
  color: #002E5D;
  font-family: "Vitesse A", "Vitesse B", Helvetica, sans-serif;
  font-weight: 500;
  margin: 24px auto 24px auto;
  min-width: 250px;
  width: 1008px;
  padding: 8px;
  vertical-align: top;

  -moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.module-container
{
  height: 100%;
}

.main
{
  padding: 35px 0 0 0 !important;
  margin: 0 !important;
}

.container
{
  background-color: #efefef !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.faculty-listing-header {
  background-color: #FFFFFF;
  font-family: "Vitesse A", "Vitesse B", Helvetica, sans-serif;
  margin: 25px auto 25px auto;
  min-width: 250px;
  width: 1024px;
  padding: 8px;
  vertical-align: top;

  -moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.faculty-listing-header > h1 {
  margin: 0px;
  font-weight: 600;
  color: #002E5D;
}

@media only screen and (max-width: 1023px) {
  .faculty-listing-header {
    width: 656px;
  }
}

@media only screen and (max-width: 671px) {
  .faculty-listing-header {
    width: 304px;
  }
}
