 img {
     width: 100%;
     height: 100%;
     margin-top: 80px;
     box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.37)
 }
 
 .news-row-full-content {
     padding-top: 70px;
     padding-bottom: 70px;
 }
 
 .news-row-full-content p {
     line-height: 30px;
     font-size: 1.2em;
 }
 
 .news-row-full-content h2 {
     font-size: 3.0em;
 }
