.facultyWrapper {
    color: #515151;
    font-family: Gotham Book, Helvetica, sans-serif;
    font-weight: 200;
    line-height: 20px;
    width: 100%;
    max-width: 895px;
    min-width: 815px;
    height: 280px;
    vertical-align: top;
    -moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .2);
    background-color: #fff;
    padding: 12px 0px 12px 0px;
    margin-top: 35px;
    margin-left: 5%;
    transition: 0.2s
}

.facultyWrapper:hover {
    background-color: rgba(241, 241, 241, 0.45);
}

.facultyImage {}

.facultyImage img {
    max-height: 255px;
    min-height: 235px;
    max-width: 175px;
    min-width: 148px;
}

.facultyInfo {
    padding-left: 0px;
}

.facultyInfo h2 {
    margin-top: 3px;
    margin-bottom: 0px;
}

.contactWrapper {
    margin-top: 45px;
}

.contactWrapper p {
    margin: 0 0 4px;

}



.facultyrNb {}

.facultyrNb h3 {
    font-size: 1.17em;
    margin-bottom: 0px;
}

@media only screen and (max-width: 1040px) {
    .facultyWrapper {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 855px) {
    .facultyrNb {
        display: none;
        width: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .facultyInfo {
        width: 350px;
        position: relative;
        margin-left: 185px;
        margin-top: -235px;
    }

    .facultyWrapper {
        width: 100%;
        max-width: 100%;
        min-width: 410px;
    }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a {
    color: #002e5d!important
}

.nav-tabs li a {
    background-color: rgba(242, 242, 242, 0.37);
}

.nav-tabs li {
    min-width: 25%
}
